.videoBackground img {
    position: absolute ;
    bottom: 2vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#hero-brands {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.hero-title {
    text-align: center;
    width: 70%;
}

.hero-title h1 {
    font-size: calc(40px + 5vw);
}

.hero-title h3 {
    margin-top: 8vh;
    line-height: 5vh;
}

.infograph {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.infograph img:not(:first-child) {
        margin-left: 5vw;
}

.infograph img {
    width: 80%;
}

@media (max-width: 980px) {
    .infograph {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
    .infograph img {
        width: 80%;
        margin: 0;
    }
}

.secondaryNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryNav-child {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #C9C9C9;
    width: 80%;
}

.secondaryNav a {
    font-family: 'tccc-unitytextregular';
    color: black;
    cursor: pointer;
}

.secondaryNav a:not(:first-child) {
    margin-left: 3vw;
}

.menu2 li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.divButton {
    position: relative;
    height: fit-content;
}

.button {
    cursor: pointer;
    border: none;
    background-color:#D22829;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    font-size: 20px;
    color: white;
}

.button:hover {
    border: transparent;
    filter: brightness(120%);
    box-shadow: 1px 1px 5px 2 grey;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: ease-in-out 0.2s;
}

.button:focus {
    outline: 0;
}

@media (max-width: 980px) {
    .secondaryNav {display:none}
}
/*------------------ BRANDS ------------------*/
#brands, .more, #soda, #water, #juice, #coffee, #tea {
    padding: 5vh 15% 5vh 15%;
}

.brands-title {
    padding: 5vh 15% 0 15%;
}

#soda, #water, #juice, #coffee, #tea {
    display: none;
}

.brands-title {
    display: flex;
}

.viewall-container {
    display: none;
}

.viewall {
    padding: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: 2.4vh 0 0 30px;
    color: black;
    cursor: pointer;
}

.viewall a {
    color: black;
}

.brands-title img {
    max-width: 36px;
    max-height: 36px;
    position: absolute;
    left: 13.5vw;
}

@media (min-width: 981px), (max-width: 1200px) {
    .brands-title img {
        left: 12vw;
    }
}

@media (max-width: 980px) {
    .brands-title img {
        left: 8vw;
    }
}


.row {
    display: flex;
    width: 100%;
    margin-top: 5vh;
}

.row div:not(:first-child) {
    margin-left: 10vw;
}

.row h4 {
    margin-top: 20px;
}

.row p {
    font-family: 'tccc-unitytextlight';
    margin-top: 20px;
}

.brand-content {
    width: 33%;
    position: relative;
}

.brand-hover {
    display: none;
    position: absolute;
    top: 0;
    animation: animate ease-in 300ms;
}

.brand-img img {
    width: 100%;
}

.brand-img:hover .brand-hover {
    display: block;
}

@media (max-width: 980px) {
    #brands, .more, #soda, #water, #juice, #coffee, #tea {
        padding: 3vh 5% 3vh 5%;
    }

    .brand-content p {
        display: none;
    }
}

.exploremore, .exploreless {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.more {
    display: none;
    animation: animate ease-in 300ms;
}

.brand-content-last {
    width: 25%;
}

@keyframes animate {
    0% {
      opacity: 0%;
    }

    100% {
      opacity: 100%; 
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 50px; 
    right: 50px; 
    z-index: 99;
    outline: none;
    border: none;
    cursor: pointer; 
    border-radius: 50%; 
    background-color: #939597;
    opacity: 50%;
    height: 80px;
    width: 80px;
  }

  #myBtn:hover {
    background-color: #D22829;
    opacity: 1;
    box-shadow: 1px 1px 5px 2 grey;
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: ease-in-out 0.2s;
  }

/*------------------ FOOTER ------------------*/
#footer {
    margin-top: 100px;
}

