a {
    width: fit-content;
}

h3 {
    margin-bottom: 20px;
}

p {
    line-height: 30px;
    margin-bottom: 20px;
}

@media (min-width: 1300px) {
    .OC-hero {
        background-image: url("../images/ourcompanyimages/Hero.png");
        height: calc(400px + 25vw);
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;}
}

.oc-title {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OC-hero h1 {
    color: white;
    text-shadow: 0 0 4px 4 #3333 ;
}


.secondaryNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 0 5vh 0;
}

.secondaryNav-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #C9C9C9;
    width: 80%;
}

.secondaryNav a {
    font-family: 'tccc-unitytextregular';
    color: black;
}

.secondaryNav a:not(:first-child) {
    margin-left: 3vw;
}

.menu2 li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu__box .secondary a {
    font-family: 'tccc-unitytextlight';
    text-align: start;
    margin-left: 10px;
}

@media (max-width: 1299.99px) {
    .OC-hero {
        background-image: url("../images/ourcompanyimages/Hero.png");
        height: calc(300px + 20vw);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .secondaryNav {
        margin-top: 5vh;
    }
}

@media (max-width: 980px) {
    .secondaryNav, .secondaryNav-child {
        display: none}
}

/* ------- OUR PURPOSE ------ */
.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5vh 0 5vh 0;
    position: relative;
}

.container-title img {
    position: absolute;
    left: 28%;
    top: -5px;
}

.ourPurpose {
    background-size: 100%;
    width: fit-content;
}

.ourPurpose h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

@media (max-width: 980px) {
    .container-title {
        padding: 5vh 0 2vh 0;
    }
    .ourPurpose {
        padding: 0 5% 0 5%;
    }
    .container-title img {
        left: 2%;
        top: 4.5vh;
    }
}

/* ------- CONTENT ------ */
.content-container {
    padding: 0 10% 5vh 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-container a {
    color: black;
}

.blob-red {
    z-index: -99999;
    position: absolute;
    margin-top: -20vh;
    right: 0;
    float: right;
}

.blob-green {
    z-index: -99999;
    position: absolute;
    margin-top: 40vh;
}

.blob-green img {
    width: 20vw;
}

.blob-red img {
    width: 30vw;
}

.content-container h5 {
    margin-bottom: 2vh;
}

.content-left-text, .content-right-text {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;

}

.content-left-img, .content-left-text {
    margin-right: 5vw;
}

.content-right-img, .content-left-img {
    width: calc(50px + 40vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.content-right-img img, .content-left-img img {
    width: calc(50px + 40vh);
}


@media (max-width: 1200px) {
    .blob-green, .blob-red {
        width: 15vw;
    }
}

@media (max-width: 980px) {
    .content-container {
        flex-direction: column;
        padding: 5vh 5% 5vh 5%;
    }
    .content-left-text, .content-right-text {
        width: 100%;
        margin: 0;
    }

    .content-hide {
        display: none;
    }
    
}


/* ------- FOOTER ------ */
#footer {
    margin-top: 1vh;
}


