a {
    width: fit-content;
}

h3 {
    margin-bottom: 20px;
}

p {
    line-height: 30px;
    margin-bottom: 20px;
}

.OC-hero {
    background-image: url("../images/ourcompanyimages/Hero.png");
    height: calc(300px + 26vw);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: white;
    text-shadow: 0 0 4px 4 #3333 ;
}

.secondaryNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryNav-child {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #C9C9C9;
    width: 80%;

}

.secondaryNav a {
    font-family: 'tccc-unitytextregular';
    color: black;
}

.secondaryNav a:not(:first-child) {
    margin-left: 3vw;
}

.menu2 li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
/* ------- OUR PURPOSE ------ */
.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5vh 0 5vh 0;
    position: relative;
}

.container-title img {
    position: absolute;
    left: 28%;
    top: -5px;
}


.ourPurpose {
    background-size: 100%;
    width: fit-content;
}

.ourPurpose h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

/* ------- CONTENT ------ */
.content-container {
    padding: 0 10% 5vh 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-container a {
    color: black;
}

.blob-red {
    z-index: -99999;
    position: absolute;
    margin-top: -20vh;
    right: 0;
    float: right;
}

.blob-green {
    z-index: -99999;
    position: absolute;
    margin-top: 40vh;
}

.content-container h5 {
    margin-bottom: 2vh;
}

.content-left-text, .content-right-text {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;

}

.content-left-img, .content-left-text {
    margin-right: 5vw;
}

.content-right-img, .content-left-img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}


/* ------- FOOTER ------ */
#footer {
    margin-top: 100px;
}

