* {
	margin: 0;
	padding: 0;
}


body, html {
    font-family: 'tccc-unitytextregular', sans-serif;
    font-size: calc(15px + 0.055vw);
    color: #333333;
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 2em;
}

h1 {
    font-family:'tccc-unityheadlinebold';
    font-size: 3.75em;
}

h2 {
    font-family: 'tccc-unitycondensedmedium';
    font-size: 3.5em;
}

h3 {
    font-family: 'tccc-unitytextbold';
    font-size: 1.25em;
}

h4 {
    font-family: 'tccc-unitytextmedium';
    font-size: 1.25em;
}

h5 {
    font-family:'tccc-unitytextlight';
    font-size: 1em;
}

.red {
    color: #D22829;
    font-family: 'tccc-unitytextmedium';
}


/*--------------- NAVIGATION ---------------*/

.navbar {
	width: 100%;
    padding: 30px 0 0 0;
	height: 5vh;
	line-height: 40px;
    z-index: 1;
    }


.container {
	width: 90%;
	margin: 0 auto;
    }

.logo {
	float:left;
    }

    /* this is for ul tag */
.menu {
	float: right;
}

.menu li {
	float:left;
	width: fit-content;
	text-align: center;
	list-style: none;
    padding-left: 30px;
    }

.menu li a, .link a {
	color:white;
    font-size: 1em;
	text-decoration: none;
	text-transform: none;
	display:block;
    position: relative;
    }

.menu li a:after, .link a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D22829;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu li a:hover:after, .link a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu li img {
    max-height: 20px;
    min-height: 20px;
}


/*--------------- MOBILE MENU ---------------*/
.hamburger-menu {display: none;}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 30px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: white;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
  
    width: 200px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }

  .menu__box li a {
    color: black;
    font-size: 1em;
	text-decoration: none;
	text-transform: none;
	display:block;
    position: relative;
  }

  .menu__box li {
	text-align: end;
	list-style: none;
    margin: 0 30px 10px 30px;

    }


.menu__box li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D22829;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.menu__box li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.menu__box li img {
    max-height: 20px;
    min-height: 20px;
}


@media (max-width:980px) {
    .menu {display: none;}
    .hamburger-menu {display: block}
}
/*--------------- VIDEO ---------------*/

.hero {
    height: 90vh;
}

.videoBackground {
    width: 100%;
    overflow: hidden;
}

.video {
    z-index: -100;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    object-fit: cover;
	filter: brightness(80%);
    }

@media (max-width:980px) {
    .video {height: 40vh}
    .hero {height:40vh}
}

/*--------------- OUR COMPANY ---------------*/

.content {
    padding: 20px 10% 50px 10%;
    display: flex;
    flex-direction: row;
}

.title h3 {
    padding: 5vh 0 0 10%;
    color: #D22829;
    text-transform: capitalize;
}


.content-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.content-right {
    width: 50%;
    margin-left: 50px;
}

.content-left > div {
    display: flex;
    flex-basis: calc(50% - 40px);
    flex-direction: column;
}

.stat-1, .stat-3 {
    width: 50%;

}

.stat-3, .stat-4 {
    margin-top: 20px;
}

.stat-2, .stat-4 {
    width: 50%;
    margin-left: 20px;
}

.stat-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #D22829;
}

.stat-top img {
    padding: 2px 1vw 0 0;
    max-width: 55px;
    max-height: 55px;
    min-width: 55px;
    min-height: 55px;
}

.stat-bottom {
    margin-top: 1em;
    line-height: 1.75em;
}

.Textmobile {
    display: none;
}

@media (max-width: 980px) {
    .content {
        flex-direction: column;
    }
    .content-left, .content-right {
        width: 100%;
        margin: 1vh 0;
    }

    .stat-2, .stat-4 {
        margin-left: 30px;
    }

    .content-right {
        margin: 5vh 0;
    }
    .Textmobile {display:inline-block;}
    .Textweb {display:none;}
}
/*--------------- BEVERAGE ---------------*/
#beverage {
    background-image: url("../images/Red-Wave.png");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20vh 10% 10px 10%;
    color: white;
}

#beverage h1 {
    float: right;
    text-align: end;
    line-height: 10vh;
}

.beverageSub h4 {
    margin-top: 15vh;
}

.beverageSub {
    width: 50%;
}

.beverageSub p {
    margin-top: 20px;
    width: 80%;
}

.beverageSub a {
    margin-top: 20px;
    width: fit-content;
    font-family: 'tccc-unitytextmedium';
}

.beverageSub a:after {
    background-color: white;
}

.brands {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    margin-left: 30%;
    
}

.brands img {
    padding-left: 50px;
    height: calc(200px + 5vh);
}

.brands img:hover {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

@media (max-width: 980px) {
    #beverage h1 {
        font-size: 3em;
        line-height: normal;
        margin-bottom: 50px;
    }
    .beverageSub, .beverageSub p {
        width:100%;
        margin-top: 20px;
    }

    .brands {
        margin-top: 5vh;
    }
}

/*--------------- SUSTAINABLE BUSINESS ---------------*/

#sustainable .link a {
    font-family: 'tccc-unitytextmedium';
    margin-top: 15px;
    color: black;
    width:fit-content;
}

.content-sub {
    width: 35%;
    margin-left: 10%;
    margin-top: 20px;
}

#sustainable .content-left {
    margin-top: 30px;
}

#sustainable .stat-top h2 {
    color: #567E44;
}

.child-content {
    margin-top: 5vh;
}

.child-content p {
    margin-bottom: -20px;
}

#sustainable .content-right {
    margin-top: -100px;
}

#socialresponsiblity {
    background-image: url("../images/socialresponsibility.png");
    height: calc(300px + 30vh);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20vh 10% 10px 10%;
    color: white;
    margin-top: -5vh;
}