* {
	margin: 0;
	padding: 0;
}

body, html {
    font-family: 'tccc-unitytextregular', sans-serif;
    font-size: calc(15px + 0.2vw);
    color: #333333;
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 2em;
}

h1 {
    font-family:'tccc-unityheadlinebold';
    font-size: calc(40px + 0.5vw);
    line-height: 20px;
}

h2 {
    font-family: 'tccc-unitycondensedmedium';
    font-size: calc(30px + 1vw);
}

h3 {
    font-family: 'tccc-unitytextregular';
    font-size: calc(30px + 0.5vw);
    line-height: 6.5vh;
}

h4 {
    font-family: 'tccc-unitytextregular';
    font-size: calc(15px + 0.5vw);
}

h5 {
    font-family:'tccc-unitytextmedium';
    font-size: calc(15px + 0.2vw);
}

.red {
    color: #D22829;
    font-family: 'tccc-unitytextmedium';
}


/*--------------- NAVIGATION ---------------*/

.navbar {
	width: 100%;
    padding: 30px 0 0 0;
	height: 5vh;
	line-height: 40px;
    z-index: 1;
    }

.container {
	width: 90%;
	margin: 0 auto;
    }

.logo, .logo-hover {
	float:left;
    }


.logo_div:hover .logo {
    display: none;
}

/*red hover on logo*/
.logo-hover {
    display: none;
    opacity: 0;
    opacity: 0;
    animation: animate 400ms ease-in-out;
}   


.logo_div:hover .logo-hover {
    display: block;
    opacity: 100%;
}

@keyframes animate {
    0% {
      opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
      opacity: 100%;
      

    }
}

/* this is for ul tag */
.menu {
	float: right;
}

.menu li {
	float:left;
	width: fit-content;
	text-align: center;
	list-style: none;
    padding-left: 30px;
    }

.menu li a, .link a, .link2 a {
	color:white;
    font-size: 1em;
	text-decoration: none;
	text-transform: none;
	display:block;
    position: relative;
    }

.menu li a:after, .link a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D22829;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link, .link2 {
    font-family: 'tccc-unitytextmedium';
}

.link2 a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu li a:hover:after, .link a:hover:after, .link2 a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu li img {
    max-height: 20px;
    min-height: 20px;
}


/*---------------- Header Stuck ----------------*/

.navbar-stuck {
    background-color: white;
    height: fit-content;
    padding: 2vh 0 2vh 0;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 5;
    box-shadow: 0px 0px 3px 0.1px #939597;
    animation: fadein;
    animation-duration: 0.3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.navbar-stuck li a {
    color: black;
}

.navbar-stuck a:hover {
    color: black;
}


/*--------------- MOBILE MENU ---------------*/
.hamburger-menu {display: none;}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: white;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: visible;
    top: 0;
    right: -100%;
  
    width: 200px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }

  .menu__box li a {
    color: black;
    font-size: 1em;
	text-decoration: none;
	text-transform: none;
	display:block;
    position: relative;
  }

  .menu__box li {
	text-align: end;
	list-style: none;
    margin: 0 30px 10px 30px;

    }


.menu__box li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D22829;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.menu__box li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.menu__box li img {
    max-height: 20px;
    min-height: 20px;
}


@media (max-width:980px) {
    .menu {display: none;}
    .hamburger-menu {display: block}
}
/*--------------- VIDEO ---------------*/

.hero {
    height: 90vh;
}

.videoBackground {
    width: 100%;
    overflow: hidden;
}

.video {
    z-index: -100;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    object-fit: cover;
	filter: brightness(80%);
    }

@media (max-width:980px) {
    .video {height: 40vh}
    .hero {height:40vh}
}

/*--------------- OUR COMPANY ---------------*/

#ourCompany {
    padding: 10vh 15% 50px 15%;
}

#ourCompany a {
    color: black;
    width: fit-content;
    margin-top: 2vh;
}

.content, .content-2 {
    width: 100%;
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

.stat {
    width: 100%;
}

.stat-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #D22829;
}

.stat-top img {
    max-width: 120px;
    max-height: 120px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
}

.stat h2, .stat h5 {
    margin-right: 3vw;
}

.stat-bottom {
    margin-top: 1em;
    line-height: 1.75em;
}


@media (max-width: 980px) {
    #ourCompany {
        padding: 5vh 5% 50px 5%;
    }
    .content {
        display: flex;
        margin: 2.5vh 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }
    .content > div {
        display: flex;
        flex-basis: calc(50%);
        flex-direction: column;
    }
    .stat {
        margin-top: 2vh;
    }
    
}

/*--------------- SOCIAL RESPONSIBILITY ---------------*/

#s-r {
    background-image: url("../images/socialresponsibility.png");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15% 10vh 15%;
    color: white;
    margin-top: -10vh;
    overflow: hidden;
}

.s-r-t {
    width: 70%;
    right: 0;
    float: right;
    text-align: end;
    line-height: 10vh;
    margin-top: 45vh;
}

.s-r-t h5 {
    margin-bottom: -3vh;
}

.s-r-b {
    margin-top: 5vh;
    float: left;
    width: 60%;
}

.link2 a {
    margin-top: 2vh;
    width: fit-content;
}

@media (max-width: 980px) {
    #s-r {
        background-image: url("../images/s-r-m\(980px\).png");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
        height: fit-content;
        padding: 0 5% 10vh 5%;
        margin-top: 0;
    }

    .s-r-t {
        width: 100%;
        float: none;
        margin-top: 20vh;
        text-align: left;
    }

    .s-r-b {
        width: 100%;
    }
}


/*--------------- SUSTAINABLE BUSINESS ---------------*/

#sustainable {
    padding: 10vh 15% 50px 15%;
}

#sustainable .link a {
    font-family: 'tccc-unitytextmedium';
    margin-top: 15px;
    color: black;
    width:fit-content;
}

.content-sub {
    width: 35%;
    margin-left: 10%;
    margin-top: 20px;
}

#sustainable .content-left {
    margin-top: 30px;
}

#sustainable .stat-top h2 {
    color: #567E44;
}

.child-content {
    margin-top: 5vh;
}

.child-content p {
    margin-bottom: -20px;
}

#sustainable .content-right {
    margin-top: -100px;
}

#sustainable .content-right img {
    width: 100%;
}

@media (max-width: 980px) {
    .content-sub {
        width: 80%;
    }

    #sustainable .content-right {
        margin-top: 40px;
    }
}


/*--------------- BEVERAGE ---------------*/
#beverage {
    background-image: url("../images/Wave\ -\ Red.png");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20vh 15% 20vh 15%;
    color: white;
}

#beverage h1 {
    float: right;
    text-align: end;
    line-height: 10vh;
}

.beverageSub h4 {
    margin-top: 20vh;
}

.beverageSub {
    width: 80%;
}

.beverageSub p {
    margin-top: 20px;
    width: 80%;
}

.beverageSub a {
    margin-top: 20px;
    width: fit-content;
    font-family: 'tccc-unitytextmedium';
}

.beverageSub a:after {
    background-color: white;
}

.brands {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    margin-left: 30%;
    
}

.brands img {
    padding-left: 50px;
    height: calc(200px + 5vh);
}

.brands img:hover {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

@media (max-width: 980px) {
    #beverage {
        background-image: url("../images/wave-red-m\(980px\).png");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
        height: fit-content;
        padding: 20vh 5% 30vh 5%;
        margin: 0;
    }

    #beverage h1 {
        line-height: normal;
        margin-bottom: 30px;
        float: left;
        text-align: left;
    }

    .beverageSub, .beverageSub p {
        width:100%;
        margin-top: 20px;
    }

    .brands {
        margin-top: 5vh;
    }
}

/*--------------------------- FOOTER ---------------------------*/
#footer {
    background-image: url("../images/Footer-Wave.png");
    height: calc(300px+50vh);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0 15% 2vh 15%;
    margin-top: -20vh;
}

#footer a {
    color: black;
    width: fit-content;
    font-family: 'tccc-unitytextregular';
    font-size: calc(12px + 0.1vw);
}

#footer p {
    font-family: 'tccc-unitytextlight';
    font-size: 0.5em;
    margin-top: 2vh;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.f-logo-div, .social {
    height: 6vh;
}

.f-logo-div:hover .f-logo, .social-1:hover .yt, .social-2:hover .linkedin, .social-3:hover .twitter, .social-4:hover .fb, .social-5:hover .ig {
    display: none;
}

.f-logo-hover, .yt-hover, .linkedin-hover, .twitter-hover, .fb-hover, .ig-hover {
    display: none;
}   

.f-logo-div:hover .f-logo-hover, .social-1:hover .yt-hover, .social-2:hover .linkedin-hover, .social-3:hover .twitter-hover, .social-4:hover .fb-hover, .social-5:hover .ig-hover {
    display: block;
}

.social {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.social img, .footernav a {
    margin-right: 20px;
}

.footernav {
    display: flex;
    flex-direction: row;
}

@media (max-width: 980px) {
    .footernav {
        font-size: 2vw;
        line-height: 15px;
    }
}
